<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MonitorHosts" type="RemoteCpuMonitor.Configuration.CpuMonitorConfigSection, RemoteCpuMonitor"/>
  </configSections>

  <MonitorHosts>
    <host SSHServerHostname="orangepipc" username="pi" password="hhk13mi"/>
    <host SSHServerHostname="orangepione" username="pi" password="hhk13mi"/>
  </MonitorHosts>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>