<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MonitorHosts" type="RemoteCpuMonitor.Configuration.CpuMonitorConfigSection, RemoteCpuMonitor"/>
  </configSections>

  <MonitorHosts>
    <host 
      SSHServerHostname="orangepipc" 
      username="pi" 
      password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAApQb99sqZSkKuf1D+yJkrWAAAAAACAAAAAAAQZgAAAAEAACAAAAAgsqWg64/g3czdpoNS+JFrC5maYIkeeDkLBKUnE6pljQAAAAAOgAAAAAIAACAAAAD+0l0E7R5G37XZbQ0qmb1Sv7R2O4RO52aFwfEOTAN9ahAAAACp+kB4Y4Exh8STP/GUgwXlQAAAANhdPKGQobg8hFBmiiH2ULUpa5eKAaMROEIV3cgi+rCUxfTG6Gjib3rOHhIEcThzLBvY6DFEUbiWcLC5zbi9vmY="
      />
    <host 
      SSHServerHostname="orangepione" 
      username="pi" 
      password="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAApQb99sqZSkKuf1D+yJkrWAAAAAACAAAAAAAQZgAAAAEAACAAAAAgsqWg64/g3czdpoNS+JFrC5maYIkeeDkLBKUnE6pljQAAAAAOgAAAAAIAACAAAAD+0l0E7R5G37XZbQ0qmb1Sv7R2O4RO52aFwfEOTAN9ahAAAACp+kB4Y4Exh8STP/GUgwXlQAAAANhdPKGQobg8hFBmiiH2ULUpa5eKAaMROEIV3cgi+rCUxfTG6Gjib3rOHhIEcThzLBvY6DFEUbiWcLC5zbi9vmY="
      />
  </MonitorHosts>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>